<style>
.diff-html-removed {
    background-color:#ffcccc;text-decoration:line-through;
}
.diff-html-added {
    background-color:#ccffcc
}
</style>
<div class="compare-article" style="max-height:745px;padding:2% 2% 2% 2%"> 
    <div data-htmleditable="kbdocument_body" class="kbdocument-body" name="kbdocument_body">
        <span id="body">{{{body_difference}}}</span>
    </div>
</div>