
{{#if value}}
<div class="ellipsis_inline" data-placement="bottom" title="{{value}}">
    {{#if def.link}}<a class="app-show" href="javascript:void(0);">{{value}}</a>{{else}}{{value}}{{/if}}
</div>
{{/if}}